<ion-header>
    <ion-toolbar color='success'>
        <ion-title>
            Chat
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor='let chat of chats'>
        <ion-card-content>
            {{ chat.message }}
            <img src='{{ chat.image }}' *ngIf='chat.image'>
            <br>
            De:
            {{ chat.email }} {{ formatDate( chat.date ) }}
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-input placeholder='Escribe el mensaje' [(ngModel)]='message'></ion-input>
        <ion-buttons slot='end'>
            Enviar
            <ion-button (click)='sendMessage()'>
                <ion-icon name='send-outline'></ion-icon>
            </ion-button>
            <ion-button (click)='presentActionSheetCamera()'>
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="secondary">
        <ion-title (click)='logout()'>Cerrar sesión</ion-title>
    </ion-toolbar>
</ion-footer>
